
  <form [formGroup]="form">  

    <mat-form-field appearance="fill">
       <mat-label>Yönetici Adı</mat-label>
       <input matInput placeholder="Yönetici Adı" formControlName="yoneticiAd" name="yoneticiAd" required type="text">
     </mat-form-field>
    
    
     <mat-form-field appearance="fill">
         <mat-label>Yönetici Şifre</mat-label>
      <input matInput placeholder="Yönetici Şifre" formControlName="yoneticiSifre" name="yoneticiSifre" required type="text">
    </mat-form-field>
    
    </form>
    <mat-dialog-actions>
      <button color="primary" mat-button (click)="girisYap(form.value)">Giriş Yap</button> &nbsp;
    </mat-dialog-actions>
