<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar [routerLink]="['/']" class="menu">    <mat-icon aria-label="label" style="font-size: 50px;">home</mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/urun']"><b>Ürünler</b></a>
      <a mat-list-item [routerLink]="['/kategori']"><b>Kategoriler</b></a>
      <a mat-list-item [routerLink]="['/yoneticiler']"><b>Yöneticiler</b></a>
      <a mat-list-item (click)="Sepetim()"><b>Sepetim</b></a>
      <a mat-list-item (click)="CikisYap()"><b>Çıkış Yap</b></a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Türkiye'nin En Güvenli Online Alışveriş Sitesi</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
