<div class="container">
  <h1>Kategori Liste</h1>

  <h3><b>Kategori Adı : </b>{{secUrun?.urunAd}}</h3>

  <button mat-fab color="primary" [routerLink]="['/urun']" matTooltip="Ürün Listele">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <p>&nbsp;</p>
  <mat-form-field appearance="outline" style="width: 50%;">
    <mat-label>Kategori Seçiniz</mat-label>
    <mat-select placeholder="Kategori Seçiniz" (selectionChange)="KategoriSec($event.value)">
      <mat-option [value]="kategori.kategoriId" *ngFor="let kategori of kategoriler">{{kategori.kategoriAd}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <button mat-fab color="primary" matTooltip="Kategori Ekle" (click)="KategoriEkle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="kategoriAd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.kategoriBilgi.kategoriAd}} </mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> Kategori
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button color="warn" matTooltip="Kategori Sil" (click)="KategoriSil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>