<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Ürün Seç</span>
</mat-toolbar>
<div class="container">
  <h1>Ürünler</h1>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="UrunFiltrele($event)">
  </mat-form-field>


  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="urunAd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.urunAd}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Fiyat
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.urunFiyat}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunAciklama">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.urunAciklama}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunKatId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Kategori
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.urunKatId}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button matTooltip="Ürün Seç" (click)="UrunSec(kayit)">
          <mat-icon aria-label="label" color="primary">person_add</mat-icon> Seç
        </button>


      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>